.mattaconnect-tab-container {
    padding: 12px 0px 0px 0px;
}

.mattaconnect-container .small-text-div {
    margin-bottom: 12px;
}

.mattaconnect-logo-container .matta_os-logo {
    width: 100%;
    height: 100%;
    background-size: 75px;
    background-repeat: no-repeat;
}

.mattaconnect-title {
    vertical-align: middle;
    display: inline-block;
}

.mattaconnect-logo-container {
    width: 75px;
    height: 64px;
    padding-right: 12px;
    vertical-align: middle;
    display: inline-block;
}

.d-inline-block {
    display: inline-block;
}

.toggle-fa {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 20px;
}

.input-box {
    width: 550px;
}

.matta-input-box{
    width: 400px
}

.test-btn {
    margin-bottom: 10px;
}

.toggle-div {
    float: right;
}

.right-btn {
    margin-left: 10px;
}

.toggle-switch-fa-lg input,
.toggle-switch-fa input,
.toggle-switch-fa-sm input,
.toggle-switch-fa-xsm input {
    opacity: 0;
    box-shadow: none;
}

.toggle-switch-fa-lg,
.toggle-switch-fa,
.toggle-switch-fa-sm,
.toggle-switch-fa-xsm {
    position: relative;
    display: inline-block;

}

.toggle-switch-fa-lg {
    margin: 5px;
}

/* Sizes */
.toggle-switch-fa-lg {
    width: 70px;
    height: 48px;
}

.toggle-switch-fa {
    width: 60px;
    height: 34px;
}

.toggle-switch-fa-sm {
    width: 35px;
    height: 20px;
}

.toggle-switch-fa-xsm {
    width: 30px;
    height: 19px;
}


/* the slider part of the switch*/
.fa-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* The round part of the slider */
.fa-slider i {
    position: absolute;
    content: "";
    left: 7px;
    bottom: 5px;
    font-size: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch-fa-sm .fa-slider i {
    left: 5px;
    bottom: 4px;
    font-size: 12px;
}

.toggle-switch-fa-xsm .fa-slider i {
    left: 5px;
    bottom: 4px;
    font-size: 12px;
}

.toggle-switch-fa-lg .fa-slider i {
    left: 10px;
    bottom: 10px;
    font-size: 28px;
}


input[type="checkbox"]:checked+.fa-slider {
    background-color: #000000;
}

input[type="checkbox"]:focus+.fa-slider {
    box-shadow: 2px 2px 2px rgba(129, 182, 224, 0.867)
}

input[type="checkbox"]:checked+.fa-slider i {
    color: #A7b359;
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

witch-fa-lg input[type="checkbox"]:checked+.fa-slider i {
    color: #A7b359;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-switch-fa-sm input[type="checkbox"]:checked+.fa-slider i {
    color: #A7b359;
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.toggle-switch-fa-xsm input[type="checkbox"]:checked+.fa-slider i {
    color: #A7b359;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.info-label {
    width: 160px;
    padding-top: 5px;
    text-align: right;
    display: inline-block;
}

.info-content {
    margin-bottom: 0;
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.info-pair {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.matta_os-input-box {
    width: 450px !important;
}

.mattaconnect-inline-control-group {
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.camPreviewContainerWrapper {
    display: table;
  }

  .camPreviewContainerNoRotate {
    cursor: crosshair;
    position:relative;
    height: fit-content;
  }

.camPreviewContainerRotate {
    cursor: crosshair;
    position:relative;
    width: 200px;
    height: 356px;
  }
  
.imgNoRotate {
    display: block;
    transform-origin: top left;
    transform: rotate(0deg) translate(0%);
    white-space: nowrap;
    width: 400px;
    max-width: 400px;
}

.imgRotate {
    display: block;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    white-space: nowrap;
    width: 356px;
    max-width: 356px;
}
  
.crosshair {
    position: absolute;
    width: 6px;
    height: 6px;
    left: -50px;
    top: -50px;
    transform: translate(-50%, -50%);
    border: 2px solid #FF0000;
    pointer-events: none;
  }

.checkbox{
    width:400px;
}

.coordinates-box{
    padding-top: 10px;
}

.nav{
    cursor: pointer;
}